.title1
{
    font-size: large;
    color: gold;
}

body {
  color: #7c795d;
  font-family: ‘Trocchi’, serif;
  font-size: 15px;
  font-weight: normal;
}

a {
  background-color: gainsboro;
  border-radius: 2px;
  padding: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
  color: black;
  text-align: center;
  width: 140px;
  min-width: 50px;
  box-sizing: border-box;
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 10px;
}

a:hover {
  background-color: black;
  color: white;
}
